.back-next-button {
    margin-top: 30px;
}


/* general form styles */
input {
    width: 700px;
    max-width: 700px;
    padding-left: 5px;
}


/* questions section */
.questions-section {
    max-width: 700px;
    margin-bottom: 30px;
}



.question-text {
    margin-bottom: 30px;
}
.question-input-list {
    display: block;
}



/* question */
.question {
    margin-bottom: 20px;
}
.question__input {
    display: block;
}


/* question-answer-text */
.question-answer-text {
    margin-bottom: 20px;
}
.question-answer-text__answer {
    display: block;
}